<style>
    :root {
  --color1: #eeeadf;
  --color2: #313026;
  --color3: #6a3e2e;
  --color4: #a34c37;
  --color5: #dd5a40;
  --color6: #BBB6DF;

  --fg-dark: #ffffff;

  --font1: 'Fira Sans Condensed', sans-serif;
  --font2: 'Special Elite', cursive;
}