---
// src/pages/index.astro
import BaseLayout from '../layouts/BaseLayout.astro'
---
<BaseLayout title="Homepage">
<h1>Fauna del entorno</h1>
<div class="list-of-arts">
  <div class="art-preview">
    <a href="/art">
      <div class="art-picture"></div>
    </a>
    <div class="description">
    <h2> Animales <h2/>
    Hay muchos animales que mueren por la contaminacion que causamos.
    </div>
  </div>
  <div class="art-preview">
    <div class="art-picture"></div>
    <div class="description">
    En esta grafica se ve los animales que mueren al año por la contaminacion. 
    </div>
  </div>
  <div class="art-preview">
    <div class="art-picture"></div>
    <div class="description">
    Aqui he puesto las expecies que hay en exticion por culpa de la contaminacion.
    </div>
  </div>
  <div class="art-preview">
    <div class="art-picture"></div>
    <div class="description">
    Mas datos sobre la extincion de la fauna.
    </div>
  </div>
  <div class="art-preview">
    <div class="art-picture"></div>
    <div class="description">
    Tambien voy a poneros informacion sobre los desastres naturales que se causan o se van a causar por la contaminacion.
    </div>
  </div>
  <div class="art-preview">
    <div class="art-picture"></div>
    <div class="description">
    Mas datos sobre los desastres naturales.
    </div>
  </div>
  <div class="art-preview">
    <div class="art-picture"></div>
    <div class="description">
    Aun mas datos.
    </div>
  </div>
</div>
</BaseLayout> 