---
// src/pages/index.astro
import BaseLayout from '../layouts/BaseLayout.astro'
---
<BaseLayout title="Homepage">
  <h1>Blog</h1>
  <div class="blog-post">
    <div class="title">Fauna del entorno</div>
    <div class="content">
      <p>Para comenzar voy a hablar sobre los tipos de animales que nos rodean y que estan muriendo por la contaminacion.</p>
    </div>
    Informacion
  </div>
</BaseLayout> 